/* TODO: design your flexbox layout with a sticky map */
.main_container{
  display:flex;
}

.cards_container {
  flex-grow: 1;
  padding:10px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 70px);
}

/* We just give you a Gmaps with random width/height */
#map {
  flex: 0 0 400px;
  height: calc(100vh - 70px);
  position: sticky !important;
  top: 0px !important;
}
