<div class="card">
  <a href="#">
    <div class="card-body" style="background-image: url(https://images.unsplash.com/photo-1455026542313-fc426ee9e525?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);">
      <div class="card-category">
        <h1>Simba</h1>
      </div>
      <img src="http://img.bfmtv.com/c/1000/600/rmc/430625.jpg" class="avatar card-avatar">
      <div class="card-desc">
        <h3>Lion mignon Paris 9e</h3>
      </div>
    </div>
  </a>
    <div class="card-footer">
      <div class="card-date">
        #calin
      </div>
      <div class="card-links">
        <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
      </div>
    </div>
</div>
