<div class="navbar-wagon">
  <%= link_to image_tag("logo.png", {height: "40", id: "logo"}),root_path %>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
  <%= link_to 'Ajouter un animal', new_pet_path, {class: "navbar-wagon-item navbar-wagon-link"} %>
  </div>
</div>
