.pet {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  margin: 10px 0;
}

/* pet image */
.pet-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 150px;
}

/* Identity design */
.pet-identity {
  flex: 1 1 auto;
  width: 400px;
  h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
  }
  p {
    font-weight: lighter;
    color: #999999;
    margin-bottom: 0;
  }
}

/* Details design */
.pet-details {
  flex: 1 1 auto;
  padding-left: 10px;
  p {
    font-weight: lighter;
    font-size: 15px;
    color: #999999;
    margin-bottom: 0;
  }
}


/* Controls design */
.pet-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.pet-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: black;
}
.pet-controls a:hover {
  color: #D3473C !important
}
.pet-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.pet:hover {
  background: white;
  cursor: pointer;
}
.pet:hover .pet-controls-hidden a { color: #E6E6E6 }
