.resa {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  margin: 10px 0;
}

/* user avatar */
.resa-avatar {
  border-radius: 50%;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

/* Identity design */
.user-identity {
  flex: 1 1 auto;
  width: 170px;
  h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
  }
  p {
    font-weight: lighter;
    color: #999999;
    margin-bottom: 0;
  }
}


/* Details design */
.resa-details {
  display: flex;
  flex: 0 0 auto;
  width: 570px;
  padding-left: 30px;
  p {
    font-weight: lighter;
    font-size: 15px;
    color: #999999;
    margin-bottom: 0;
  }
  h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
  }
}

.resa-details-dates {
    vertical-align: center;
  }

.pet-image-small {
  border-radius: 10px;
  margin-right: 20px;
  width: 100px;
}

.resa-details-pet {
  display: flex;
  align-items: center;
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.resa-status {
  width: 100px;
  h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;  }
  p {
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .validee {
    color: #03CEA4;
  }
  .attente {
    color: #FFD23A;
  }
}

.resa-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  text-align: right;
  margin-left: 20px;
}

/* Hover effects */
.resa:hover {
  background: white;
}
