.tabs {
  margin-top: 10px;
  background: #F4F4F4;
  display: flex;
  padding: 10px 0px;
  h3 {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  a {
    color: white;
    text-decoration: none;
    :hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  h3 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 0;
  }

  p {
    opacity: 0.5;
    margin-bottom: 0;
  }
}

.tab {
  background: #FCCF4D;
  flex: 1 1 auto;
  text-align: center;
  padding: 20px 0px;
  opacity:0.7;
}

.tab.active {
  background: white;
  color: black;
}
